<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Pain</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename= 'imgs/icon.png')}}">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- External Style Sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/prob.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/contact.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/scroll.css')}}">

    <!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="chooseage" id="chooser">
        <div class="container"><div class="row">
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob1">
                        <img src="{{ url_for('static',filename= 'imgs/baby.png')}}" alt="">
                        <h1 class="tit">Baby</h1>
                        <button onclick="hidechoice()" class="btn btn1">Open</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob1">
                        <img src="{{ url_for('static',filename= 'imgs/teen.png')}}" alt="">
                        <h1 class="tit">Teens</h1>
                        <button onclick="hidechoice()" class="btn btn1">Open</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob1">
                        <img src="{{ url_for('static',filename= 'imgs/adult.png')}}" alt="">
                        <h1 class="tit">Adult</h1>
                        <button onclick="hidechoice()" class="btn btn1">Open</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob1">
                        <img src="{{ url_for('static',filename= 'imgs/aged.png')}}" alt="">
                        <h1 class="tit">Aged</h1>
                        <button onclick="hidechoice()" class="btn btn1">Open</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
        </div></div>
    </div>

    <script>
        function hidechoice(){
            document.getElementById('chooser').style.zIndex='-1000';
        }
    </script>

    <!-- Navbar -->
    <header>
        <a href="http://localhost:5000/ta/body-pain"><img src="{{ url_for('static',filename= 'imgs/translate.png')}}" class="translate" alt=""></a>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="http://localhost:5000/en/home">
                <img src="{{ url_for('static',filename= 'imgs/icon.png')}}" width="30" height="35" class="d-inline-block align-top" alt="" loading="lazy">
                &nbsp;Crop X
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/home" >Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/home">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/home">Problems</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/forum">Forum</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/nearby">Nearby</a>
                    </li>
                    <li class="nav-item nearby_button">
                    <a class="nav-link" href="http://localhost:5000/en/shop"><button class="nearby_btn">Shop &#x1F6D2;</button></a>
                    </li>
                </ul>
                </div>
            </nav>
        </div><hr>
    </header>

    <div class="all">

    <div class="content"></div>
    <!-- About -->
    <div id="about"><br></div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="{{ url_for('static',filename= 'imgs/bodypain_landing.png')}}" alt="">
                </div>
                <div class="col-lg-7">
                    <h1 class="title t1">Body Pain</h1>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Content -->
    <div class="problemmm">
        <div class="container problem" id="problem">
        <div class="row">
            <!-- List of Problems Starts Here -->
            <div class="col-lg-6">
                <div class=" prob prob1">
                <h1 class="title_in">&nbsp;Arthritis</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;Ingridents:</h3>
                <ul>
                    <li>Amukkura choornam</li>
                    <li>Rasa Gendhi Mezhugu</li>
                    <li>Serankottai nei</li>
                    <li>Idivallathi mezhugu</li>
                    <li>Poorna chandrodayam</li>
                    <li>Chandamarutha Chendooram</li>
                    <li>Arumuga Chendooram</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;Procedure:</h3>
                <ol>
                    <li>The drug of choice must be Anti-inflammatory or Anti-vatha as well as Analgesic or pain releiver. Initially purgation should be administered with any one of these, Agasthiyar kuzhambu, Kodasuri tablet, Sanjeevi tablet, Maantha ennai, so as to bring the Vatham to normal. Then internal medicines are administered.</li>
                    <li>Make a decoction of above ingredients using water then filtered.It is added with 8 parts of water,boiled and reduced to quarter part and filtered.</li>
                    <li>It is advised to take Serankottai Preparation and Nilavembu kudineer for 1 year</li>

                </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" prob prob1">
                <h1 class="title_in">&nbsp;Muscle Strain</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;Ingridents:</h3>
                <ul>
                    <li>Shunthi</li>
                    <li>Snehana</li>
                    <li>Nirgundi</li>
                    <li>Amla</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;Procedure:</h3>
                <ol>
                    <li>Ginger is packed with numerous flavonoid antioxidants and potent anti-inflammatory components, which efficiently relax the restricted muscles in the lower legs. Drinking a glass of warm water with 2 teaspoons of shunthi i.e. dry ginger powder and a dash of honey offers instantaneous relief from muscle cramps.</li>
                    <li>The external remedy of a soothing oil massage i.e. snehana is one of the best methods to cure muscular strain in the thighs and legs. Applying ashwagandha or chandana infused taila or oils and rubbing it into the sore muscles unwinds the knots and diminishes tenderness in the area.</li>
                    <li>This herbal panacea is a superb solution for alleviating extreme pain and cramping in the muscles of the lower legs, thanks to the root extracts, which contain profuse amounts of the alkaloid nishindine. Dissolve 1 teaspoon of nirgundi powder or paste preparations in water along with some jaggery and drink this decoction once daily.</li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" prob prob1">
                <h1 class="title_in">&nbsp;Knee pain</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;Ingridents:</h3>
                <ul>
                    <li>Nirgundi</li>
                    <li>Ajwain</li>
                    <li>Dashmool</li>
                    <li>Shallaki</li>
                    <li>Eucalyptus</li>
                    <li>Ginger</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;Procedure:</h3>
                <ol>
                    <li>Nirgundi is one of the most common herbs used to bring respite in joints. The plant is easily available and is known to reduce swelling as well as excessive pain. Its potent anti-inflammatory, anti-convulsing and anti-oxidant properties help the joints in many ways. The leaves of the plant Nirgundi are believed to have the most medicinal properties, followed by the stem and the seeds.</li>
                    <li>Ajwain acts as a natural aid to arthritis pain due to the presence of anti-inflammatory components. It also contains anesthetic properties that further help in relieving excessive pain during winter. All you need to do is to add a spoonful of carom seeds or ajwain in a tub of hot water and soak your aching joints in the water and sit for 5-10 minutes; this will help ease swelling and pain.</li>
                    <li>Shallaki herb is known to keep your joints strong and relieve them from any pain.</li>
                </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" prob prob1">
                <h1 class="title_in">&nbsp;Back pain</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;Ingridents:</h3>
                <ul>
                    <li>Black gram</li>
                    <li>Cassia auriculata</li>
                    <li>Anthroquinone</li>
                    <li>Flavonoids</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;Procedure:</h3>
                <ol>
                    <li>This special type of poultice is developed based on the literary evidence of Pulippani-500 text in National Institute of Siddha which employs the herbal application of Cassia auriculata (Aavarai) leaves and black gram as main ingredients. Ground mixture is made into paste by mixing it with egg white or water. The important compounds present in the ingredients of the above poultice are Anthroquinone, Flavonoids, Alkaloids and phenolic compounds.</li>
                    <li>This AUP application holds promise for many skeletal and musculo skeletal conditions and is used especially in conditions of painful lumbar disc disease, disc prolapse, radiculopathy etc. This external application is traditionally used in the fracture healing by bone setters even in conditions of delayed/non union. </li>
                </ol>
                </div>
            </div>
            <!-- List of Problems Ends Here -->
        </div>
        </div>
    </div>
    
    <!-- Contact -->
    <div class="contactbg">
        <div class="container">
            <div class="row contact">
                <div class="col-lg-4 branding">
                    <img src="{{ url_for('static',filename= 'imgs/icon.png')}}" width="70" height="81.666" class="d-inline-block align-top" alt="" loading="lazy">
                    &nbsp;Gazda
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <p class="find">Find us at:</p>
                    <p class="address">
                        #123, XYZ Street, ABC Colony, <br>Madhurovoyal, Chennai, <br>Tamilnadu, India <br>Pincode: 600094
                    </p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <p class="find">Contact us at:</p>
                    <p class="address">
                        Email: <a href = "mailto: abc@example.com">abc@example.com</a><br>
                        Phone: <a href="tel:123-456-7890">123-456-7890</a><br>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function open_sugg(){
            document.getElementById('sugg').style.zIndex='100';
        }
        function close_sugg(){
            document.getElementById('sugg').style.zIndex='-100';
        }
    </script>

    <!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</body>
</html>