<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headache</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename= 'imgs/icon.png')}}">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- External Style Sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/prob.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/contact.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/scroll.css')}}">

    <!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="chooseage" id="chooser">
        <div class="container"><div class="row">
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob6">
                        <img src="{{ url_for('static',filename= 'imgs/baby.png')}}" alt="">
                        <h1 class="tit">Baby</h1>
                        <button onclick="hidechoice()" class="btn btn6">Open</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob6">
                        <img src="{{ url_for('static',filename= 'imgs/teen.png')}}" alt="">
                        <h1 class="tit">Teens</h1>
                        <button onclick="hidechoice()" class="btn btn6">Open</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob6">
                        <img src="{{ url_for('static',filename= 'imgs/adult.png')}}" alt="">
                        <h1 class="tit">Adult</h1>
                        <button onclick="hidechoice()" class="btn btn6">Open</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob6">
                        <img src="{{ url_for('static',filename= 'imgs/aged.png')}}" alt="">
                        <h1 class="tit">Aged</h1>
                        <button onclick="hidechoice()" class="btn btn6">Open</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
        </div></div>
    </div>

    <script>
        function hidechoice(){
            document.getElementById('chooser').style.zIndex='-1000';
        }
    </script>

    <!-- Navbar -->
    <header>
        <a href="http://localhost:5000/ta/headache"><img src="{{ url_for('static',filename= 'imgs/translate.png')}}" class="translate" alt=""></a>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="http://localhost:5000/en/home">
                <img src="{{ url_for('static',filename= 'imgs/icon.png')}}" width="30" height="35" class="d-inline-block align-top" alt="" loading="lazy">
                &nbsp;Crop X
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/home" >Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/home">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/home">Problems</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/forum">Forum</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/nearby">Nearby</a>
                    </li>
                    <li class="nav-item nearby_button">
                    <a class="nav-link" href="http://localhost:5000/en/shop"><button class="nearby_btn">Shop &#x1F6D2;</button></a>
                    </li>
                </ul>
                </div>
            </nav>
        </div>
        <hr>
    </header>

    <div class="all">
    <div class="content"></div>
    <!-- About -->
    <div id="about"><br></div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img style="width: 530px;" src="{{ url_for('static',filename= 'imgs/headache_landing.png')}}" alt="">
                </div>  
                <div class="col-lg-7">
                    <h1 class="title t6">Headache</h1>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Content -->
    <div class="container problem" id="problem">
        <div class="row">
            <!-- List of Problems Starts Here -->
           
            <div class="col-lg-6">
                <div class=" prob prob6">
                <h1 class="title_in">&nbsp;Headache</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;Ingridents:</h3>
                <ul>
                    <li>Ksheerabala Taila</li>
                    <li>Balashwagandhadi Taila</li>
                    <li>Mahanarayana Taila</li>
                    <li>Migrakot oil</li>
                    <li>Nasya(nasal drop)</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;Procedure:</h3>
                <ol>
                    <li>Take a few drops of the oil on to finger tips. Gently rub the oil using finger tips in circular manner over forehead and temple region. </li>
                    <li>Continue massage for 2-10 minutes,based on your comport. Close your eyes and relax</li>
                    <li>Nasya is the procedure of instilling medicated nasal drops through nose. As in siddha is considered as pathway of head,this procedure is highly effective in curing diseases particularly from above shoulder region.</li>
                    <li>Medicines for Nasya in tension headache- Anu taila,Ksheerabala101,Ksheerabala taila,Danvantari taila.</li>
                </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" prob prob6">
                <h1 class="title_in">&nbsp;Migraine Headache</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;Ingridents:</h3>
                <ul>
                    <li>Rasa</li>
                    <li>Gandhak Shuddha</li>
                    <li>Lauha</li>
                    <li>Triphala raja</li>
                    <li>Shunthi </li>
                    <li>Gokshura</li>
                    <li>Prishniparni</li>
                    <li>Brihati </li>
                    <li>Ghrita </li>
                    <li>Guggulu Shuddha</li>
                    <li>Kushtha</li>
                    <li>Triphala</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;Procedure:</h3>
                <ol>
                    <li>Make a decoction of above ingredients using water then filtered.</li>
                    <li>It is added with 8 parts of water,boiled and reduced to quarter part and filtered.</li>
                    <li>It is should be added with equal amount of water while consuming.</li>
                </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" prob prob6">
                <h1 class="title_in">&nbsp;Sinusitis Headache</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;Ingridents:</h3>
                <ul>
                    <li>Vasanthakusumakaram mathirai</li>
                    <li>Kasturi karuppu</li>
                    <li>Gowrichinthamani chendooram</li>
                    <li>Chandamarutha chendooram</li>
                    <li>Sivanaramirtham</li>
                    <li>Seenthil chooranam</li>
                    <li>Mandoora chendooram</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;Procedure:</h3>
                <ol>
                    <li>The oral medicines should be taken with appropriate anupanam depending upon the severity of the disease and body constitution of the patient .</li>
                    <li>  Steam inhalation with lemon leaves or thumbai samoolam boiled in water is used. Steam is effective in opening nasal passages, thereby aiding in easy drainage of mucous from the sinuses.  </li>
                    <li>Equal amounts of vediuppu, manjal and milagu are mixed   to form a paste and is used for fumigation.</li>
                </ol>
                </div>
            
            <!-- List of Problems Ends Here -->
        </div>
    </div>
    

</div>
   <!-- Contact -->
   <div class="contactbg">
    <div class="container">
        <div class="row contact">
            <div class="col-lg-4 branding">
                <img src="{{ url_for('static',filename= 'imgs/icon.png')}}" width="70" height="81.666" class="d-inline-block align-top" alt="" loading="lazy">
                &nbsp;Gazda
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <p class="find">Find us at:</p>
                <p class="address">
                    #123, XYZ Street, ABC Colony, <br>Madhurovoyal, Chennai, <br>Tamilnadu, India <br>Pincode: 600094
                </p>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <p class="find">Contact us at:</p>
                <p class="address">
                    Email: <a href = "mailto: abc@example.com">abc@example.com</a><br>
                    Phone: <a href="tel:123-456-7890">123-456-7890</a><br>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>