<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename= 'imgs/icon.png')}}">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- External Style Sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/contact.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/scroll.css')}}">

    <!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <script src="{{ url_for('static',filename= 'js/index.js')}}"></script>

</head>
<body>
    
    <div class = "loader-container" id= "loader">
        <div class='longfazers'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class = "down1" id="down"></div>
    </div>



<div id="eng">
    <!-- Navbar -->
    <header>
        <a href="http://localhost:5000/ta/home"><img src="{{ url_for('static',filename= 'imgs/translate.png')}}" class="translate" alt=""></a>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                <img src="{{ url_for('static',filename= 'imgs/icon.png')}}" width="30" height="35" class="d-inline-block align-top" alt="" loading="lazy">
                &nbsp;Crop X
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link height" href="#" >Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="#problem">Problems</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/forum">Forum</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/en/nearby">Nearby</a>
                    </li>
                    <li class="nav-item nearby_button">
                    <a class="nav-link" href="http://localhost:5000/en/shop"><button class="nearby_btn">Shop &#x1F6D2;</button></a>
                    </li>
                </ul>
                </div>
            </nav>
        </div>
        <hr>
    </header>

    <!-- Slider -->
    <div class="cont">
        <div class="slider">
            <div class="slide slide1"></div>
            <!-- Main -->
            <div class="slide slide2"></div>
            <div class="slide slide3"></div>
            <div class="slide slide4"></div>
            <div class="slide slide5"></div>
        </div>
    </div>

    <div class="content"></div>
    <!-- About -->
    <div id="about"><br></div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="title">About Siddha</h1>
                </div>
                <div class="col-lg-6">
                    <img src="{{ url_for('static',filename= 'imgs/about.png')}}" alt="">
                </div>
                <div class="col-lg-6">
                    <p class="abouttxt">
                        Siddha medicine is a traditional medicine originating in Tamil Nadu, India and practised over centuries. In rural India, siddhars have learned methods traditionally through master-disciple relationships to become local "healers".
                    </p>    
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Content -->
    <div class="container" id="problem">
        <div class="row">
            <div class="col-lg-12"><h1 class="title">Find your permanent solution!</h1></div>
            <div class="col-lg-0"></div>
            <!-- List of Categories Starts Here -->
            <div class="col-lg-6 prob">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <img class="cate" src="{{ url_for('static',filename= 'imgs/bodypain.png')}}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="t t1">Body Pain</h1>
                        <button onclick="window.location.href='http://localhost:5000/en/body-pain'" class="btn btn1">Open</button>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-lg-6 prob">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <img class="cate" src="{{ url_for('static',filename= 'imgs/allergy.png')}}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="t t4">Allergies</h1>
                        <button onclick="window.location.href='http://localhost:5000/en/allergy'" class="btn btn4">Open</button>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-lg-6 prob">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <img class="cate" src="{{ url_for('static',filename= 'imgs/digestion.png')}}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="t t3">Digestion</h1>
                        <button onclick="window.location.href='http://localhost:5000/en/digestion'" class="btn btn3">Open</button>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-lg-6 prob">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <img class="cate" src="{{ url_for('static',filename= 'imgs/flu.png')}}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="t t2">Cold & Flu</h1>
                        <button onclick="window.location.href='http://localhost:5000/en/flu'" class="btn btn2">Open</button>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-lg-6 prob">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <img class="cate" src="{{ url_for('static',filename= 'imgs/injury.png')}}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="t t5">Injury</h1>
                        <button onclick="window.location.href='http://localhost:5000/en/injury'" class="btn btn5">Open</button>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-lg-6 prob">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <img class="cate" src="{{ url_for('static',filename= 'imgs/headache.png')}}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="t t6">Headache</h1>
                        <button onclick="window.location.href='http://localhost:5000/en/headache'" class="btn btn6">Open</button>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <!-- List of Categories Ends Here -->
        </div>
    </div>
    
    <!-- Contact -->
    <div class="contactbg">
        <div class="container">
            <div class="row contact">
                <div class="col-lg-4 branding">
                    <img src="{{ url_for('static',filename= 'imgs/icon.png')}}" width="70" height="81.666" class="d-inline-block align-top" alt="" loading="lazy">
                    &nbsp;Gazda
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <p class="find">Find us at:</p>
                    <p class="address">
                        #123, XYZ Street, ABC Colony, <br>Madhurovoyal, Chennai, <br>Tamilnadu, India <br>Pincode: 600094
                    </p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <p class="find">Contact us at:</p>
                    <p class="address">
                        Email: <a href = "mailto: abc@example.com">abc@example.com</a><br>
                        Phone: <a href="tel:123-456-7890">123-456-7890</a><br>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<audio src="{{ url_for('static',filename= 'music/a1.mp3')}}" id="a1"></audio>
<audio src="{{ url_for('static',filename= 'music/a2.mp3')}}" id="a2"></audio>
<audio src="{{ url_for('static',filename= 'music/a3.mp3')}}" id="a3"></audio>
<audio src="{{ url_for('static',filename= 'music/a4.mp3')}}" id="a4"></audio>
<audio src="{{ url_for('static',filename= 'music/a5.mp3')}}" id="a5" ></audio>
<audio src="{{ url_for('static',filename= 'music/a6.mp3')}}" id="a6"></audio>
<audio src="{{ url_for('static',filename= 'music/a7.mp3')}}" id="a7"></audio>
<audio src="{{ url_for('static',filename= 'music/a8.mp3')}}" id="a8"></audio>
<audio src="{{ url_for('static',filename= 'music/a9.mp3')}}" id="a9"></audio>
<audio src="{{ url_for('static',filename= 'music/a10.mp3')}}" id="a10"></audio>

    <!-- JS for Loader -->
    <script>
        var rand=Math.floor(Math.random() * 10);
        // var rand=9;
        var arr = ["அகர முதல எழுத்தெல்லாம் ஆதி<br>பகவன் முதற்றே உலகு.","கற்றதனால் ஆய பயனென்கொல் வாலறிவன்<br>நற்றாள் தொழாஅர் எனின்","மலர்மிசை ஏகினான் மாணடி சேர்ந்தார்<br>நிலமிசை நீடுவாழ் வார்","வேண்டுதல்வேண் டாமை இலானடி சேர்ந்தார்க்கு<br>யாண்டும் இடும்பை இல","இருள்சேர் இருவினையும் சேரா இறைவன்<br>பொருள்சேர் புகழ்புரிந்தார் மாட்டு","பொறிவாயில் ஐந்தவித்தான் பொய்தீர் ஒழுக்க<br>நெறிநின்றார் நீடுவாழ் வார்","தனக்குவமை இல்லாதான் தாள்சேர்ந்தார்க் கல்லால்<br>மனக்கவலை மாற்றல் அரிது","அறவாழி அந்தணன் தாள்சேர்ந்தார்க் கல்லால்<br>பிறவாழி நீந்தல் அரிது","கோளில் பொறியின் குணமிலவே எண்குணத்தான்<br>தாளை வணங்காத் தலை","பிறவிப் பெருங்கடல் நீந்துவர் நீந்தார்<br>இறைவன் அடிசேரா தார்"];
        var src = ["a1","a2","a3","a4","a5","a6","a7","a8","a9","a10"];

        (function(){
        document.getElementById('down').innerHTML = arr[rand];
        document.getElementById(src[rand]).play();
        })(window);
            setTimeout(loadout, 500);
        function loadout(){
            document.getElementById('loader').style.opacity= "0";
            setTimeout(loadout1, 1000);
        }
        function loadout1(){
            document.getElementById('loader').style.zIndex= "-100";
        }
    </script>

    

    <!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</body>
</html>