<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>செரிமானம்</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename= 'imgs/icon.png')}}">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- External Style Sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/prob.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/contact.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/scroll.css')}}">

    <!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class="chooseage" id="chooser">
        <div class="container"><div class="row">
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob3">
                        <img src="{{ url_for('static',filename= 'imgs/baby.png')}}" alt="">
                        <h1 class="ttit">குழந்தை</h1>
                        <button onclick="hidechoice()" class="btn btn3">திற</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob3">
                        <img src="{{ url_for('static',filename= 'imgs/teen.png')}}" alt="">
                        <h1 class="ttit">பதின்வயதினர்</h1>
                        <button onclick="hidechoice()" class="btn btn3">திற</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob3">
                        <img src="{{ url_for('static',filename= 'imgs/adult.png')}}" alt="">
                        <h1 class="ttit">பெரியவர்</h1>
                        <button onclick="hidechoice()" class="btn btn3">திற</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
            <div class="col-lg-6">
                <div class="container"><div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 age prob3">
                        <img src="{{ url_for('static',filename= 'imgs/aged.png')}}" alt="">
                        <h1 class="ttit">வயது</h1>
                        <button onclick="hidechoice()" class="btn btn3">திற</button>
                    </div>
                    <div class="col-lg-2"></div>
                </div></div>
            </div>
        </div></div>
    </div>

    <script>
        function hidechoice(){
            document.getElementById('chooser').style.zIndex='-1000';
        }
    </script>

    <!-- Navbar -->
    <header>
        <a href="http://localhost:5000/en/digestion"><img src="{{ url_for('static',filename= 'imgs/translate.png')}}" class="translate" alt=""></a>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="http://localhost:5000/en/home">
                <img src="{{ url_for('static',filename= 'imgs/icon.png')}}" width="30" height="35" class="d-inline-block align-top" alt="" loading="lazy">
                &nbsp;திரு வைத்தியர்
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/ta/home" >முகப்பு</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/ta/home">சித்தா பற்றி</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/ta/home">பிரச்சினைகள்</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/ta/forum">மன்றம்</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link aaa height" href="http://localhost:5000/ta/nearby">அருகிலுள்ள</a>
                    </li>
                    <li class="nav-item nearby_button">
                    <a class="nav-link" href="http://localhost:5000/ta/shop"><button class="nearby_btn">கடை &#x1F6D2;</button></a>
                    </li>
                </ul>
                </div>
            </nav>
        </div>
        <hr>
    </header>

    <div class="all">
    <div class="content"></div>
    <!-- About -->
    <div id="about"><br></div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img src="{{ url_for('static',filename= 'imgs/digestion_landing.png')}}" alt="">
                </div>
                <div class="col-lg-7">
                    <h1 class="title t3">செரிமானம்</h1>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Content -->
    <div class="container problem" id="problem">
        <div class="row">
            <!-- List of Problems Starts Here -->
            <div class="col-lg-6">
                <div class=" prob prob3">
                <h1 class="title_in">&nbsp;மலச்சிக்கல்</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;தேவையான மருந்துகள்:</h3>
                <ul>
                    <li>அம்லா</li>
                    <li>பெஹாடா</li>
                    <li>ஹரதா</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;செய்முறை:</h3>
                <ol>
                    <li>ஒரு கப் தண்ணீரில் செங்குத்தான ½ முதல் 1 டீகரண்டி, முன்னுரிமை சூடாக, சுமார் 5 முதல் 10 நிமிடங்கள் வரை குடிக்கவும்.</li>
                    <li>சுவை பிடிக்காத நபர்கள் ஒரு நாளைக்கு 2 மாத்திரை வெதுவெதுப்பான நீரில் எடுத்துக் கொள்ளலாம்.</li>
                    <li>திரிபாலா வழக்கமாக வெற்று வயிற்றில், அல்லது எழுந்ததும், படுக்கைக்கு முன்பும் சாப்பாட்டுக்கு இடையில் எடுத்துக்கொள்ள பரிந்துரைக்கப்படுகிறது.</li>
                </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" prob prob3">
                <h1 class="title_in">&nbsp;பெப்டிக் அல்சர் நோய்</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;தேவையான மருந்துகள்:</h3>
                <ul>
                    <li>லைகோரைஸ் தூள்</li>
                    <li>1 கரண்டி தேன்</li>
                    <li>1 கரண்டி உருகிய நெய்</li>
                    <li>1 கப் சமைத்த உடைந்த வெள்ளை அரிசி</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;செய்முறை:</h3>
                <ol>
                    <li>1/4 கரண்டி லைகோரைஸ் பவுடரை 1 கரண்டி தேன் அல்லது 1 கரண்டி உருகிய நெய் கொண்டு எடுக்க வேண்டும்.</li>
                    <li>லைகோரைஸுடன் வேகவைத்த பால் புண்களைக் குணப்படுத்துவதற்கும் மிகவும் நன்மை பயக்கும்.</li>
                    <li>ஒரு கப் வெதுவெதுப்பான நீரில் அரை டீஸ்பூன் லைகோரைஸ் ரூட் பவுடரை கலக்கவும். அதை மூடி ஒரே இரவில் விட்டு விடுங்கள். அடுத்த நாள் காலையில், 1 கப் சமைத்த உடைந்த வெள்ளை அரிசியை உட்செலுத்தலில் சேர்க்கவும் a. இதை உண்ணுங்கள். தினமும் 1 வாரம் எடுத்துக் கொள்ளுங்கள்.</li>
                    <li>குறைந்தது 1-2 வாரங்களுக்கு தினமும் 2-3 முறை லைகோரைஸ் டீ குடிக்கவும்</li>
                </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" prob prob3">
                <h1 class="title_in">&nbsp;வயிற்றுப்போக்கு</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;தேவையான மருந்துகள்:</h3>
                <ul>
                    <li>இஞ்சி</li>
                    <li>தண்ணீர்</li>
                    <li>சோம்பு</li>
                    <li>மஞ்சள் தூள்</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;செய்முறை:</h3>
                <ol>
                    <li>1 அங்குல இஞ்சியை அரைத்து 1 1/4 கப் தண்ணீரில் சேர்க்கவும்.</li>
                    <li>சிறிது சோம்புடன் வேகவைக்கவும். அது வேகவைத்த பிறகு, ஒரு சிட்டிகை மஞ்சள் தூள் சேர்க்கவும்.</li>
                    <li>திரிபு மற்றும் குடிக்க.</li>
                </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" prob prob3">
                <h1 class="title_in">&nbsp;ஆசிட் ரிஃப்ளக்ஸ்</h1>
                <hr>
                <h3 class="title_">&nbsp;&nbsp;தேவையான மருந்துகள்:</h3>
                <ul>
                    <li>எளிய தயிர்</li>
                    <li>தண்ணீர்</li>
                    <li>கல் உப்பு</li>
                    <li>ஜீரா</li>
                    <li>நறுக்கிய இஞ்சி</li>
                    <li>புதிய கொத்தமல்லி இலைகள்</li>
                </ul>
                <h3 class="title_">&nbsp;&nbsp;செய்முறை:</h3>
                <ol>
                    <li>1/4 கப் வெற்று தயிரை 3/4 கப் தண்ணீருடன் இணைக்கவும் (அல்லது இதை இரட்டிப்பாக்கி, ஒரே விகிதத்தில் வைத்திருங்கள்).</li>
                    <li>நன்றாக கலக்கு.</li>
                    <li>1 தேக்கரண்டி கல் உப்பு, சிட்டிகை வறுத்த ஜீரா (சீரகம்) தூள், சிறிது அரைத்த இஞ்சி, புதிய கொத்தமல்லி இலைகள் சேர்க்கவும்.</li>
                </ol>
                </div>
            </div>
            <!-- List of Problems Ends Here -->
        </div>
    </div>
    

    <!-- Contact -->
    <div class="contactbg">
        <div class="container">
            <div class="row contact">
                <div class="col-lg-4 branding">
                    <img src="{{ url_for('static',filename= 'imgs/icon.png')}}" width="70" height="81.666" class="d-inline-block align-top" alt="" loading="lazy">
                    &nbsp;Gazda
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <p class="find">முகவரி:</p>
                    <p class="address">
                        #123, XYZ தெரு, ABC காலனி, <br>மதுரவோயல், சென்னை, <br>தமிழ்நாடு, இந்தியா <br>அஞ்சல் குறியீடு: 600094
                    </p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <p class="find">தொடர்புக்கு:</p>
                    <p class="address">
                        Email: <a href = "mailto: abc@example.com">abc@example.com</a><br>
                        Phone: <a href="tel:123-456-7890">123-456-7890</a><br>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</body>
</html>